:root {
    --gradient-color1: rgb(44, 70, 68);
    --half-gradient-color1: rgba(44, 70, 68, 0.5);
    --mid-color1-color2:rgb(24, 48, 42);
    --gradient-color2: rgb(4, 26, 16);
    --half-gradient-color2: rgba(4, 26, 16, 0.5);
}
* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1 {
    font-size: 100px;
}

body {
    background-color: ;
}

.sail {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-image: url("./IMG_4543.JPG");
    background-position: 0 0;
    background-size: cover;
    /* background: linear-gradient(
        to top,
        var(--mid-color1-color2),
        var(--gradient-color1) 10%
    ); */
}
.sail .textbox {
    bottom: 18%;
    left: 10%;
    position: absolute;
}
.sail h1 {
    color: rgb(70, 113, 207);
    text-shadow: 0 0 30px white;
}

.code {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: var(--gradient-color2);
    /* background: linear-gradient(
        to bottom,
        var(--mid-color1-color2),
        var(--gradient-color2) 10%
    ); */
}
.code .textbox {
    top: 18%;
    right: 10%;
    position: absolute;
}
.code h1 {
    color: rgb(67, 226, 19);
    text-shadow: 0 0 30px rgb(67, 226, 19);
}

@media (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
}