* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    height: 100svh;
    width: 100%;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #6b739a;
}

body, body > div {
    height: 100%;
    width: 100%;
}

body > div {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 8vh;
    text-align: center;
    height: 10vh;
    height: 10svh;
}